<mat-toolbar
	id="header"
	role="heading"
	[class.headerLight]="lightTheme"
	class="container"
	fxLayout
	fxLayoutAlign="center"
	fxLayoutGap="10px"
>
	<div fxFlex="20%">
		<app-toolbar-logo [lightTheme]="lightTheme" [sessionId]="mySessionId" [compact]="compact" [logoUrl]="logoUrl"></app-toolbar-logo>
	</div>
	<div fxFlex="70%" fxFlexOrder="2">
		<div align="center" class="buttonsContainer">
			<button
				id="navMicrophoneButton"
				mat-icon-button
				(click)="toggleMicrophone()"
				[disabled]="isConnectionLost"
				*ngIf="hasAudioDevices && (ovSettings | hasAudio)"
			>
				<mat-icon *ngIf="isWebcamAudioEnabled" matTooltip="Tắt Micrô của bạn">mic</mat-icon>
				<mat-icon *ngIf="!isWebcamAudioEnabled" color="warn" matTooltip="Bật Micrô của bạn">mic_off</mat-icon>
			</button>

			<!-- Camera button -->
			<button
				id="navCameraButton"
				mat-icon-button
				(click)="toggleCamera()"
				[disabled]="isConnectionLost"
				*ngIf="!this.ovSettings || (hasVideoDevices && (this.ovSettings | hasVideo))"
			>
				<mat-icon *ngIf="isWebcamVideoEnabled" matTooltip="Tắt Camera của bạn">videocam</mat-icon>
				<mat-icon *ngIf="!isWebcamVideoEnabled" color="warn" matTooltip="Bật Camera của bạn">videocam_off</mat-icon>
			</button>

			<!-- Screenshare button -->
			<button
				id="navScreenButton"
				mat-icon-button
				(click)="toggleScreenShare()"
				[disabled]="isConnectionLost"
				*ngIf="ovSettings | hasScreenSharing"
			>
				<mat-icon *ngIf="!isScreenShareEnabled" matTooltip="Chia sẻ màn hình của bạn" color="warn">stop_screen_share</mat-icon>
				<mat-icon *ngIf="isScreenShareEnabled" matTooltip="Kết thúc chia sẻ màn hình">screen_share</mat-icon>
			</button>

			<!-- Fullscreen button -->
			<button mat-icon-button (click)="toggleFullscreen()" [disabled]="isConnectionLost" *ngIf="ovSettings | hasFullscreen">
				<mat-icon matTooltip="Toàn màn hình">{{ fullscreenIcon }}</mat-icon>
			</button>

			<!-- Automatic / grid layout button -->
			<button
				mat-icon-button
				(click)="toggleSpeakerLayout()"
				[disabled]="isConnectionLost"
				*ngIf="ovSettings | hasLayoutSpeaking"
			>
				<mat-icon matTooltip="Bật bố cục loa" color="warn" *ngIf="!isAutoLayout">voice_over_off</mat-icon>
				<mat-icon matTooltip="Tắt bố cục loa" *ngIf="isAutoLayout">record_voice_over</mat-icon>
			</button>

			<!-- Leave seassion button -->
			<button mat-icon-button (click)="leaveSession()" id="navLeaveButton" *ngIf="ovSettings | hasExit">
				<mat-icon color="warn" matTooltip="Rời khỏi phòng họp">power_settings_new</mat-icon>
			</button>
		</div>
	</div>
	<div fxFlex="10%" fxFlexOrder="3" align="end">
		<button mat-icon-button (click)="toggleChat()" [disabled]="isConnectionLost" *ngIf="ovSettings | hasChat">
			<mat-icon
				matBadge="{{ newMessagesNum }}"
				[matBadgeHidden]="newMessagesNum === 0"
				matBadgePosition="above before"
				matTooltip="Chat"
				matBadgeColor="accent"
				>chat</mat-icon
			>
		</button>
	</div>
</mat-toolbar>
