#header {
  color: #ffffff;
  height: 40px;
  background-color: #333333;
  padding: 0 14px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  min-width: 400px !important;
}

.buttonsContainer {
  position: absolute;
  left: 0;
  right: 0;
}

.headerLight {
  color: #706969 !important;
  background-color: #eeeeee !important;
}

#navSessionInfo {
  height: 100%;
  display: inline-flex;
}


#navChatButton .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -17px;
}

#navChatButton .mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -6px;
}

.mat-icon-button[disabled] {
  color: #fff;
}

.titleContent {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  max-width: 100px;
  margin: 5px -18px;
  padding: 0px 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleContentDark {
  background-color: #494949;
  color: #ffffff;
}

.titleContentLight {
  background-color: #dfdfdf !important;
  color: #000000;
}

#header_img {
  max-width: 130px;
  margin: 0px 20px 0px 5px;
  padding: 5px;
}

#point {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 33px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #000;
  z-index: 99999;
}
.pointLight {
  border: 1px solid #ffffff !important;
}

.tooltipList {
  white-space: pre;
}

@media (max-width: 600px) {
  #navSessionInfo {
    display: none;
  }
}
