<div class="section1">
	<mat-toolbar id="header">
		<!-- <a href="https://openvidu.io/" target="_blank">
			<img id="header_img" alt="OpenVidu Logo" src="assets/images/logo_cmcts_white.png" />
		</a> -->
		<!-- <div class="ovVersion">
			<span>{{ version }}</span>
		</div> -->
	</mat-toolbar>
	<div class="container">
		<div class="ovInfo">
			<img class="ovLogo" alt="OpenVidu Logo" src="assets/images/Logo-CMC-TS-full-01.png" />
			<h4 style="color: var(--gm-color-caption,#5f6368);">Tạo hoặc truy cập cuộc họp một cách dễ dàng.</h4>
		</div>
		<div class="formContainer">
			<div class="roomError" id="requiredNameError" *ngIf="roomForm.hasError('required')">
				Tên phòng là <strong>bắt buộc</strong>
			</div>
			<div class="roomError" id="shortNameError" *ngIf="roomForm.hasError('minlength')">
				Tên phòng là <strong>quá ngắn!</strong>
			</div>
			<form [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">
				<div class="joinForm">
					<input placeholder="Nhập mã phòng họp muốn truy cập" matInput class="inputForm" type="text" [formControl]="roomForm"  autocomplete="off" id="roomInput" />
					<button type="submit" class="joinButton" id="joinButton" >TRUY CẬP</button>
				</div>
			</form>
		</div>
	</div>
</div>
