<div id="roomConfig" [ngStyle]="{ display: (ovSettings | isAutoPublish) ? 'none' : 'block' }">
	<!-- Modal -->
	<div class="modal" *ngIf="showConfigCard">
		<div class="modal-dialog modal-xl">
			<div class="modal-content cardContainer">
				<!-- Modal Header -->
				<div class="modal-header cardHeader">

					<h3 class="headerTitle">{{ mySessionId }}</h3>

					<button mat-mini-fab (click)="close()" class="closeButton" id="closeButton">
						<mat-icon color="warn" matTooltip="Đóng">highlight_off</mat-icon>
					</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body" #bodyCard>
					<div class="row align-items-center">
						<div class="col-sm-6 col-md-6 col-lg-6 leftSection">
							<div class="videoContainer">
								<div *ngFor="let localUser of localUsers; let i = index">
									<!-- Only webcam video will be shown if webcamera is available -->
									<ov-video
										*ngIf="(localUser.isCamera() && hasVideoDevices) || localUser.isScreen()"
										[streamManager]="localUser.streamManager"
										[className]="localUsers.length > 1 && i === 0 ? 'ovVideoSmall' : ''"
									></ov-video>
									<div class="cameraMessageContainer" *ngIf="localUser.isCamera() && !hasVideoDevices">
										<span *ngIf="!hasVideoDevices && !hasAudioDevices"
											>Rất tiếc! Máy ảnh và micrô không khả dụng</span
										>
										<span *ngIf="!hasVideoDevices && hasAudioDevices">Rất tiếc! Máy ảnh không khả dụng</span>
										<span *ngIf="hasVideoDevices && !hasAudioDevices">Rất tiếc! Micrô không khả dụng</span>
									</div>
								</div>
							</div>

							<div class="avatarButton" *ngIf="hasVideoDevices">
								<button mat-stroked-button (click)="captureAvatar()">
									<mat-icon matTooltip="Chụp hình">photo_camera</mat-icon>
									<span style="margin-left: 5px;">Chụp hình đại diện</span>
								</button>
							</div>
						</div>

						<div class="col-sm-6 col-md-6 col-lg-6 rightSection">
							<div class="avatarContainer" *ngIf="hasVideoDevices">
								<h3>Hình đại diện</h3>
							</div>

							<div fxLayout="row" fxFill id="avatarSection" *ngIf="hasVideoDevices">
								<div class="" fxFlex="100" fxLayoutAlign="center center">
									<div
										id="avatarContainer"
										(click)="onSelectAvatar(avatarTypeEnum.CAPTURED)"
										[style.background]="avatarSelected === avatarTypeEnum.CAPTURED ? 'lightgreen' : 'transparent'"
									>
										<div id="imgText" *ngIf="!capturedAvatar">
											<span>Nhấn nút Chụp hình đại diện</span>
										</div>
										<img id="avatarImg" *ngIf="capturedAvatar" [src]="capturedAvatar" />
									</div>
									<div
										id="avatarContainer"
										(click)="onSelectAvatar(avatarTypeEnum.DEFAULT)"
										[style.background]="avatarSelected === avatarTypeEnum.DEFAULT ? 'lightgreen' : 'transparent'"
									>
										<img id="avatarImg" *ngIf="openviduAvatar" [src]="openviduAvatar" />
									</div>
								</div>
							</div>

							<!-- Devices section / Nickname-->
							<div fxLayout="row" fxFill id="devicesSection">
								<div fxLayout fxFlex>
									<div class="one" fxFlex="20" fxLayoutAlign="center center">
										<button mat-mini-fab class="deviceButton">
											<mat-icon matTooltip="Tên của bạn">person</mat-icon>
										</button>
									</div>
									<div class="two" fxFlex="80" fxLayoutAlign="center center">
										<form id="nicknameForm" class="alternate-theme">
											<mat-form-field>
												<input
													matInput
													placeholder="Tên của bạn"
													[formControl]="nicknameFormControl"
													[errorStateMatcher]="matcher"
													(keypress)="eventKeyPress($event)"
													autocomplete="off"
												/>
												<mat-error *ngIf="nicknameFormControl.hasError('required')">
													Tên của bạn là <strong>bắt buộc</strong>
												</mat-error>
												<mat-error *ngIf="nicknameFormControl.hasError('maxlength')">
													Tên của bạn <strong>quá dài!</strong>
												</mat-error>
											</mat-form-field>
										</form>
									</div>
								</div>
							</div>

							<!-- Devices section / Microphone-->
							<div fxLayout="row" fxFill id="devicesSection" *ngIf="hasAudioDevices && (ovSettings | hasAudio)">
								<div fxLayout fxFlex>
									<div class="one" fxFlex="20" fxLayoutAlign="center center">
										<button mat-mini-fab (click)="toggleMic()" class="deviceButton" id="configCardMicrophoneButton">
											<mat-icon *ngIf="isAudioActive" matTooltip="Đã bật micrô">mic</mat-icon>
											<mat-icon *ngIf="!isAudioActive" color="warn" matTooltip="Đã tắt micrô"
												>mic_off</mat-icon
											>
										</button>
									</div>
									<div class="two" fxFlex="80" fxLayoutAlign="center center">
										<mat-form-field class="alternate-theme">
											<mat-select
												placeholder="Tùy chọn micrô"
												[ngModel]="isAudioActive && micSelected ? micSelected.device : 'None'"
												(selectionChange)="onMicrophoneSelected($event)"
											>
												<mat-option *ngFor="let microphone of microphones" [value]="microphone.device">
													{{ microphone.label }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>
							<!-- Devices section / Camera-->
							<div fxLayout="row" fxFill id="devicesSection" *ngIf="hasVideoDevices && (ovSettings | hasVideo)">
								<div fxLayout fxFlex>
									<div class="one" fxFlex="20" fxLayoutAlign="center center">
										<button mat-mini-fab (click)="toggleCam()" class="deviceButton" id="configCardCameraButton">
											<mat-icon *ngIf="isVideoActive" matTooltip="Camera đã bật">videocam</mat-icon>
											<mat-icon *ngIf="!isVideoActive" color="warn" matTooltip="Camera đã tắt"
												>videocam_off</mat-icon
											>
										</button>
									</div>
									<div class="two" fxFlex="80" fxLayoutAlign="center center">
										<mat-form-field class="alternate-theme">
											<mat-select
												placeholder="Tùy chọn Camera"
												[ngModel]="isVideoActive && camSelected ? camSelected.device : 'None'"
												(selectionChange)="onCameraSelected($event)"
											>
												<mat-option *ngFor="let camera of cameras" [value]="camera.device">
													{{ camera.label }}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>
							</div>

							<!-- Devices section / ScreenShare-->
							<div fxLayout="row" fxFill id="devicesSection" *ngIf="ovSettings | hasScreenSharing">
								<div fxLayout fxFlex>
									<div class="one" fxFlex="20" fxLayoutAlign="center center">
										<button mat-mini-fab (click)="toggleScreenShare()" class="deviceButton" id="configCardScreenButton">
											<mat-icon *ngIf="screenShareEnabled" matTooltip="Chia sẻ màn hình đã bật">screen_share</mat-icon>
											<mat-icon *ngIf="!screenShareEnabled" color="warn" matTooltip="Chia sẻ màn hình đã tắt">
												stop_screen_share</mat-icon
											>
										</button>
									</div>
									<div class="two" fxFlex="80" fxLayoutAlign="center center">
										<mat-form-field class="alternate-theme">
											<input
												matInput
												disabled
												placeholder="Màn hình chia sẻ"
												[ngModel]="screenShareEnabled ? 'Screen' : 'None'"
											/>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer" style="justify-content: center;">
					<button mat-flat-button color="accent" (click)="joinSession()" form="nicknameForm" id="joinButton">THAM GIA</button>
				</div>
			</div>
		</div>
	</div>
</div>
