
html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  height: 100%;
  width: 100%;
}

/* webcomponent */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.tooltipList {
  white-space: pre;
  font-size: small !important;
}
.messageSnackbar {
  margin-top: 50px !important;
}
