<div
	*ngIf="this._user"
	class="OT_widget-container"
	[id]="'container-' + this._user.streamManager?.stream?.streamId"
	#streamComponent
	(dblclick)="toggleVideoSize()"
>
	<div class="nickname" [class.fullscreen]="isFullscreen">
		<div (click)="toggleNicknameForm()" class="nicknameContainer" selected *ngIf="!toggleNickname">
			<span id="nickname">{{ this._user.nickname }}</span>
			<span *ngIf="_user.local || (_user.streamManager && !_user.streamManager?.remote)"> (edit)</span>
		</div>
		<div *ngIf="toggleNickname && !this._user.streamManager?.remote" [class.fullscreen]="isFullscreen" id="dialogNickname">
			<button mat-icon-button (click)="toggleNicknameForm()" id="closeButton">
				<mat-icon matTooltip="Đóng">highlight_off</mat-icon>
			</button>
			<form id="nicknameForm">
				<mat-form-field color="primary">
					<input
						matInput
						#nicknameInput
						placeholder="Nick: {{ this._user.nickname }}"
						[formControl]="nicknameFormControl"
						[errorStateMatcher]="matcher"
						(keypress)="eventKeyPress($event)"
						autocomplete="off"
					/>
					<mat-error *ngIf="nicknameFormControl.hasError('required')"> Tên của bạn là <strong>bắt buộc</strong> </mat-error>
					<mat-error *ngIf="nicknameFormControl.hasError('maxlength')"> Tên của bạn <strong>quá dài!</strong> </mat-error>
				</mat-form-field>
			</form>
		</div>
	</div>

	<ov-video
		[streamManager]="this._user.streamManager"
		[mutedSound]="mutedSound"
		(toggleVideoSizeEvent)="toggleVideoSize($event)"
	></ov-video>
	<div class="statusIcons">
		<div id="statusMic" *ngIf="!this._user.streamManager?.stream?.audioActive">
			<mat-icon>mic_off</mat-icon>
		</div>
	</div>

	<div
		class="videoButtons"
		*ngIf="
			(_user.local && this._user.streamManager?.stream?.videoActive) ||
			(!_user.local && (_user.streamManager?.stream?.videoActive || _user.streamManager?.stream?.audioActive))
		"
	>
		<button mat-icon-button (click)="toggleVideoMenu($event)" matTooltip="Cài đặt" aria-label="Video settings menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<span [matMenuTriggerFor]="menu"></span>
		<mat-menu #menu="matMenu" yPosition="above" xPosition="before">
			<button mat-menu-item *ngIf="this._user.streamManager?.stream?.videoActive" id="videoZoomButton" (click)="toggleVideoSize()">
				<mat-icon>{{ this.videoSizeIcon }}</mat-icon>
				<span *ngIf="videoSizeIcon === videoSizeIconEnum.NORMAL">Zoom out</span>
				<span *ngIf="videoSizeIcon === videoSizeIconEnum.BIG">Zoom in</span>
			</button>
			<button mat-menu-item id="volumeButton" *ngIf="this._user.streamManager?.remote" (click)="toggleSound()">
				<mat-icon *ngIf="!mutedSound">volume_up</mat-icon>
				<span *ngIf="!mutedSound">Tắt âm thanh</span>

				<mat-icon *ngIf="mutedSound">volume_off</mat-icon>
				<span *ngIf="mutedSound">Mở âm thanh</span>
			</button>
			<button mat-menu-item *ngIf="this._user.streamManager?.stream?.videoActive" id="fullscreenButton" (click)="toggleFullscreen()">
				<mat-icon>{{ this.fullscreenIcon }}</mat-icon>
				<span *ngIf="fullscreenIcon === videoFullscreenIconEnum.NORMAL">Thoát chế độ toàn màn hình</span>
				<span *ngIf="fullscreenIcon === videoFullscreenIconEnum.BIG">Mở toàn màn hình</span>
			</button>

			<button
				mat-menu-item
				(click)="replaceScreenTrack()"
				id="changeScreenButton"
				*ngIf="!this._user.streamManager?.remote && this._user.streamManager?.stream?.typeOfVideo === videoTypeEnum.SCREEN"
			>
				<mat-icon>picture_in_picture</mat-icon>
				<span>Thay thế màn hình</span>
			</button>
		</mat-menu>
	</div>
</div>
