.nickname {
  padding: 0px;
  position: absolute;
  z-index: 999;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}
.nicknameContainer {
  background-color: #424242;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

#dialogNickname {
  background-color:  #0000005e;
  border-radius: 5px;
}

#closeButton {
  position: absolute;
  top: -3px;
  right: 0;
  z-index: 999;
}

#nicknameForm {
  padding: 10px;
}

.fullscreen {
  top: 40px;
}

mat-error {
  text-align: center;
  color: #353535;
}

video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.statusIcons {
  bottom: 0;
  left: 5px;
  width: 40px;
  height: fit-content;
  position: absolute;
  color: #ffffff;
  z-index: 999;
}

.statusIcons mat-icon {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}

.statusIcons mat-icon {
  font-size: 20px;
}

.videoButtons mat-icon {
  font-size: 24px;
}
.videoButtons .mat-icon-button{
  line-height: 0px;
}

#camStatus {
  bottom: 43px;
}

#statusCam, #statusMic {
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #c71100;
  margin: 5px auto;
}

.videoButtons{
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 50px;
  text-align: center;
}
.videoButtons button {
  background-color: #000000;
  width: 30px;
  height: 30px;
  margin: 1px;

}

/* Contains the video element, used to fix video letter-boxing */
.OT_widget-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #000000;
}

mat-error,
::ng-deep .mat-focused .mat-form-field-label,
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #cacaca !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline,
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #cacaca !important;
}

input {
  caret-color: #ffffff !important;
}

.poster_img {
  position: absolute;
  z-index: 888;
  max-width: 70%;
  max-height: 70%;
  bottom: 0;
  top: 0;
  margin: auto;
  right: 0;
  left: 0;
}
